<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box20
    body
        header.header 해더

        block content 

        footer.footer 풋터
